.rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.pagination {
  justify-content: center;
  padding: 10px;
}
.pagination-btn {
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
  background: none;
  border-radius: 10px;
}
.current-page {
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}
